body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    position: relative; 
    overflow: hidden; 
}
.container {
    text-align: center;
    position: absolute; /* Добавлено */
    top: 50%; /* Добавлено */
    left: 50%; /* Добавлено */
    transform: translate(-50%, -50%); /* Добавлено */
}
.question {
    font-size: 24px;
    margin-bottom: 20px;
}
.circle {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    position: fixed; /* Изменено с absolute на fixed */
    bottom: 20px; 
}
#leftCircle {
    left: 20px; 
}
#rightCircle {
    right: 20px; 
}
#chart {
    width: 80%;
    height: 300px;
}
