body {
    font-family: Arial, sans-serif;
}

#menu {
    display: flex;
    justify-content: space-around;
}

.hidden {
    display: none;
}

#question, #profile {
    padding: 20px;
    border: 1px solid #ccc;
}
