body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    height: 210px;
    margin-top: 6px;
    margin-bottom: 7px;
}

.button-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container img {
    margin-bottom: 10px;
}

.button-container button {
    background-color: #0091DD;
    border: none;
    color: white;
    padding: 12px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #007bb3;
}

.hidden {
    display: none;
}

#question, #profile {
    padding: 20px;
    border: 1px solid #ccc;
}

#reply {
    flex-direction: column;
    align-items: center;
}

#reply button {
    margin: 5px;
}

#profile {
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
}

#profile > * {
    margin: 5px;
}
