body {
    font-family: Arial, sans-serif;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu > * {
    margin: 5px;
}

.hidden {
    display: none;
}

#question, #profile {
    padding: 20px;
    border: 1px solid #ccc;
}

#reply {
    flex-direction: column;
    align-items: center;
}

#reply button {
    margin: 5px;
}

#profile {
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
}

#profile > * {
    margin: 5px;
}
