body, html {
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: white;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    border: 1px #838383;
}

.blue-box{
    border-radius: 10px;
    border: 2px solid #2AABEE;
    margin: 0 12px 12px 12px;
    padding: 0.5em;
    font-size: 20px;
    text-align: center;
    width: 325px;
}

.switch{
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.switch button{
    border: none;
    padding: auto;
    text-align: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 0.5em;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.text-switch{
    color: #838383;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.camera-switch{
    margin: 0;
    color: white;
    background-color: #2AABEE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.camera-switch img{
    margin-right: 6px;
}

.text-icon{
    font-weight: 600;
    font-size: 24px;
    color: black;
    margin: 0 6px 0 0;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.purple-button{
    background-color: #AA6EFC;
    margin-top: 20px;
    border: none;
    color: white;
    padding: auto;
    text-align: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 0.5em;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 14px;
}

#loading {
    margin-top: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Центрирование текста по горизонтали */
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px; /* Отступ между загрузчиком и текстом */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
